.AWSK-title {
  //color: #3372DF;
  color: black;
  font-size: 36px;
  font-weight: bold;
  margin: 20px 64px;
}
.AWSK-sub-title {
  color: #3F51B5;
  font-size: 20px;
  font-weight: bold;
  margin: 20px 64px;
}
